@media (max-width: 1399px) {
   .container-xxl,
   .container-xl,
   .container-lg,
   .container-md,
   .container-sm,
   .container {
      max-width: 1320px;
   }
   .media-brands__img {
      width: 80%;
   }
}
@media (max-width: 1199px) {
   .container-xl,
   .container-lg,
   .container-md,
   .container-sm,
   .container {
      max-width: 1140px;
   }
   /*Main banner*/
   .title1 {
      font-size: 36px;
      line-height: 42px;
   }
   .main__head {
      padding-left: 80px;
   }
   .main-banner__title {
      margin-bottom: 40px;
   }
   .main-banner__hr {
      margin-bottom: 31px;
   }
   /*Social*/
   .social {
      padding: 0 0 10px;
   }
   .title2 {
      font-size: 24px;
      line-height: 28px;
   }
   .title5 {
      font-size: 14px;
      line-height: 16px;
   }
   .media__title {
      margin-bottom: 0px;
   }
   .media-brands__list {
      padding: 28px 0 10px;
   }
   /*Description*/
   .description {
      padding: 50px 0px 0px;
   }
   .title3 {
      font-size: 24px;
      line-height: 33px;
   }
   .description__text {
      padding-left: 85px;
   }
   .description__title {
      padding: 28px 0;
      margin-bottom: 10px;
   }
   .description__subtitle {
      padding: 0 30px;
   }
   /*Advantages*/
   .title4 {
      font-size: 18px;
      line-height: 25px;
   }
   .title__block {
      padding: 46px 0;
   }
   .hr__block {
      margin-bottom: 32px;
   }
   .subtitle__block {
      margin-bottom: 65px;
   }
   .benefits-card__img {
      width: 75px;
      height: 75px;
      margin-bottom: 28px;
   }
   /*Opinion*/
   /*Axure design*/
   /*Contact*/
   /*Footer*/
   .footer-img {
      width: 70%;
   }
}
@media (max-width: 991px) {
   .container-lg,
   .container-md,
   .container-sm,
   .container {
      max-width: 960px;
   }
   .title4 {
      font-size: 14px;
      line-height: 18px;
   }
   /*Main banner*/
   .main__head {
      padding-left: 30px;
   }
   /*Social*/
   .media-brands__img {
      width: 70%;
   }
   .media-brands__list {
      padding: 28px 0 10px;
   }
   /*Description*/
   .description__text {
      padding-left: 30px;
   }

   .description__subtitle {
      padding: 0 10px;
   }
   /*Advantages*/
   .benefits-card__title {
      padding: 20px 0;
      margin-bottom: 0px;
   }
   .benefits-card__img {
      width: 60px;
      height: 60px;
      margin-bottom: 0px;
   }
   .benefits-card {
      margin-bottom: 50px;
   }
   .benefits-card:last-child {
      margin-bottom: 0px;
   }
   /*Price*/
   /*Opinion*/
   .mind-card__blockquote {
      text-align: left;
      border-radius: 10px;
      background-color: #e2e2e2;
      padding: 25px 10px;
      position: relative;
      margin-bottom: 40px;
   }
   .treangular {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 15px solid #e2e2e2;
      bottom: -15px;
   }
   .mind-card__photo {
      width: 60px;
      height: 60px;
   }

   /*Axure design*/
   /*Contact*/
   /*Footer*/
   .footer {
      padding: 10px 0 10px;
   }
}
@media (max-width: 767px) {
   .container-md,
   .container-sm,
   .container {
      max-width: 720px;
   }

   .title4 {
      font-size: 18px;
      line-height: 21px;
   }
   /*Main banner*/
   .main-banner {
      padding: 200px 0 50px;
   }
   .main__head {
      padding-left: 0px;
      padding-bottom: 40px;
      text-align: center;
      margin-left: 16.66666667%;
   }
   .main-banner__logo {
      display: none;
   }
   .main-banner__text {
      display: none;
   }
   .main-banner__hr {
      display: none;
   }
   .main__form {
      margin-left: 8.33333333%;
   }
   /*Social*/
   .media__title {
      text-align: center;
   }
   .social {
      padding: 10px 0 10px;
   }
   .media-brands__list {
      padding: 20px 0 10px;
   }
   /*Description*/
   .description__info {
      text-align: center;
      padding-bottom: 40px;
   }
   .description-img {
      display: none;
   }
   .description__text {
      padding: 0 30px;
   }
   /*Advantages*/
   .advantage {
      padding: 50px 0 50px;
   }
   /*Price*/
   .price {
      padding: 0px;
   }
   .subtitle__block {
      margin-bottom: 30px;
   }
   .price__item {
      margin-bottom: 50px;
   }

   .price__item-accent {
      transform: none;
   }
   /*Opinion*/
   .opinion {
      padding: 0 0 50px;
   }
   .profile {
      margin-bottom: 30px;
   }

   /*Axure design*/
   .axure-design {
      padding: 0 0 50px;
   }
   /*Contact*/
   .contact {
      padding: 0 0 50px;
   }
   /*Footer*/
}

@media (max-width: 575px) {
   .container-sm,
   .container {
      max-width: 540px;
   }
   /*Main banner*/
   .main__head {
      text-align: center;
   }
   .main__form {
      margin-left: 0%;
   }
   .main__head {
      text-align: center;
      margin-left: 0%;
   }
   /*Social*/
   /*Description*/
   .description__text {
      padding: 0 10px;
   }
   /*Advantages*/
   /*Price*/
   /*Opinion*/
   /*Axure design*/
   /*Contact*/
   /*Footer*/
}
