* {
   box-sizing: border-box;
}

html,
body {
   height: 100%;
}

body {
   font-family: "Raleway", "Open Sans";
   font-weight: 400;
   font-size: 18px;
   color: #000;
   line-height: 21px;
   background-color: white;
}

h1,
.title1 {
   color: white;
   font-size: 48px;
   font-weight: 500;
   line-height: 56px;
}

h2,
.title2 {
   font-size: 36px;
   font-weight: 400;
   line-height: 42px;
}

h3,
.title3 {
   font-size: 30px;
   font-weight: 700;
   line-height: 41px;
   font-family: "Open Sans";
}
h4,
.title4 {
   font-family: "Open Sans";
   font-size: 24px;
   font-weight: 700;
   line-height: 33px;
}
h5,
.title5 {
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
}

h6,
.title6 {
   font-family: "Open Sans";
   font-size: 13px;
   font-weight: 700;
   line-height: 18px;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.header {
   background-color: black;
}

nav {
   font-family: "Open Sans";
   font-weight: 600;
   font-size: 14px;
}

.button {
   font-family: "Open Sans";
   font-weight: 600;
   background-color: #ec7979;
   width: 270px;
   font-size: 18px;
   line-height: 25px;
   padding: 18px 0;
   color: white;
   cursor: pointer;
   display: inline-block;
   text-decoration: none;
   text-align: center;
   min-height: 60px;
}
.button:hover {
   background-color: #ab4949;
}
.button:active {
   box-shadow: 0px 0px 10px #ab4949;
   background-color: #ec7979;
}

/*Main-banner*/

.main-banner {
   background: rgba(0, 0, 0, 50%);
   background-image: url(../images/main_baner.jpg);
   text-align: left;
   padding: 231px 0 185px;
   color: white;
}
.main-banner__logo {
   margin-bottom: 73px;
}

.main-banner_title {
   margin-bottom: 97px;
}
.main-banner_title:last-child {
   margin-bottom: 0px;
}
.main-banner__text {
   margin-bottom: 42px;
}
.main-banner__text:last-child {
   margin-bottom: 0px;
}

.social {
   background-color: #f8efef;
   padding: 0 0 18px;
}
.media__title {
   color: #333333;
   margin-bottom: 18px;
   max-width: 470px;
}

.media__text {
   max-width: 470px;
}
/*
.nav__menu__link {
   text-decoration: none;
   color: #fff;
   padding-right: 50px;
}


.main-banner {
   width: 1510px;
   height: 1026px;
   background: url(../images/main_baner.svg);
}

.main-banner__logo {
   padding-left: 170px;
   padding-top: 306px;
   position: absolute;
   height: 55px;
   width: 195px;
}

.main-banner__title {
   font-weight: 500;
   font-size: 48px;
   padding-left: 170px;
   padding-top: 450px;
   position: absolute;
   color: white;
}

.main-banner__text {
   padding-left: 170px;
   padding-top: 700px;
   padding-bottom: 42px;
   color: white;
}

.main-banner__button {
   color: white;
   text-decoration: none;
   border: 2px solid #fff;
   margin-left: 170px;
   padding: 15px 70px;
   font-family: "Open Sans";
   font-size: 18px;
   font-style: normal;
   font-weight: 600;
}

.media {
   width: 1510px;
   height: 140px;
   background-color: #f8efef;
}

.media__info {
   padding-top: 20px;
   padding-left: 170px;
   width: 240px;
   float: left;
}
.media__brands {
   width: 1000px;
   float: right;
   padding-top: 30px;
   text-align: center;
}

.media__item {
   display: inline;
}

.media__link {
   width: 50px;
   height: 50px;
   padding-left: 40px;
}

.media__title {
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 24px;
   position: absolute;
}

.media__text {
   color: #86878b;
   padding-top: 50px;
}

.description {
   margin-top: 100px;
}

.description__item {
   margin-left: 170px;
   display: inline;
   border: 1px solid black;
}

.description__link {
   text-decoration: none;
}
.description__title {
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 30px;
   padding-top: 10px;
   padding-left: 100px;
}
.description__paragraph {
   padding-top: 50px;
   width: 470px;
   height: 150px;
   padding-bottom: 90px;
   padding-left: 100px;
}

.description__info {
   border: 1px solid #c6cbcd;
   width: 1170px;
   height: 500px;
   margin-left: 170px;
}

.description__img {
   width: 50%;
   float: right;
   width: 470px;
   height: 500px;
   text-align: right;
}

.description__button {
   color: white;
   text-decoration: none;

   padding: 15px 70px;
   background-color: #ec7979;
   font-family: "Open Sans";
   font-size: 18px;
   font-style: normal;
   font-weight: 600;
   text-align: center;
   border: 1px solid #ec7979;
   margin-left: 100px;
}
.description__text {
   width: 50%;
   float: left;
}

.advantage {
   margin-left: 170px;
   width: 1170px;
   margin-right: 170px;
}

.advantage__title {
   text-align: center;
   margin-top: 100px;
   font-size: 36px;
}

.advantage__text_grey {
   color: #86878b;
   text-align: center;
   padding-top: 30px;
}

.advantage__item {
   width: 390px;
}

.advantage__text_black {
   width: 390px;
}

.advantage__description__title {
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 24px;
   text-align: center;
}

.price {
   margin-top: 150px;
   padding-top: 50px;
   width: 1510px;
   background-color: #f5f5f5;
}

.price__title {
   font-size: 36px;
   text-align: center;
   padding-bottom: 40px;
   height: 150px;
}
.price__text {
   color: #86878b;
   text-align: center;
}

.price__rate__title {
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 24px;
   text-align: center;
   color: white;
   background-color: #333333;
   width: 33.3%;
}
.price__cost {
   font-weight: 700;
   font-style: normal;
   font-size: 36px;
   text-align: center;
   color: white;
   background-color: #333333;
   width: 33.3%;
}
.price__rate__text {
   font-style: normal;
   text-align: center;
   color: rgba(255, 255, 255, 0.5);
   background-color: #333333;
   width: 33.3%;
}
.price__list__item {
   width: 33.3%;
   text-align: center;
   background-color: #fff;
   color: #86878b;
}

.price__list {
   float: left;
   display: inline;
}

.price__rate {
   padding-top: 30px;
}

.opinion {
   width: 1510px;
}
.opinion__title {
   font-size: 36px;
   text-align: center;
   text-transform: uppercase;
   width: 1170px;
   height: 100px;
   margin-top: 50px;
}

.opinion__text {
   color: #86878b;
   text-align: center;
   width: 1170px;
   padding-bottom: 80px;
}

.opinion__blockquote {
   width: 370px;
   color: #86878b;
   background-color: #e2e2e2;
   padding: 15px;
   margin: 15px;
}

.opinion__customer-name {
   font-family: "Open Sans";
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
}

.opinion__list__item {
   width: 33.3%;
}

.opinion__photo {
   float: left;
   padding-right: 10px;
}

.axure-design {
   width: 1510px;
   height: 450px;
   background: url(../images/axure\ design.svg);
}

.axure-design__title {
   font-size: 36px;
   color: white;
   text-align: center;
   margin-top: 50px;
   padding-top: 100px;
}

.axure-design__text {
   color: white;
   text-align: center;
   padding-top: 80px;
   padding-bottom: 80px;
}

.axure-design__button {
   font-family: "Open Sans";
   font-weight: 600;
   font-style: normal;
   font-size: 18px;
   width: 100%;
   text-align: center;
   color: white;
   border: 2px solid white;
   text-decoration: none;
   padding: 10px 70px;
   margin-left: 600px;
}

.contact {
   width: 1510px;
}
.contact__title {
   margin-top: 100px;
   font-size: 36px;
   text-align: center;
   width: 1510px;
}

.contact__text {
   padding-top: 70px;
   width: 1510px;
   color: #86878b;
   text-align: center;
}

.contact__info {
   padding-top: 50px;
}

.contact__message {
   padding-top: 50px;
}

.contact__input {
   color: #bdbdbd;
}

.contact__button {
   font-family: "Open Sans";
   font-weight: 600;
   font-style: normal;
   font-size: 18px;
   margin-top: 70px;
   text-align: center;
   color: white;
   border: 2px solid white;
   text-decoration: none;
   padding: 10px 70px;
   background-color: #ec7979;
   margin-left: 570px;
}

.footer {
   width: 1510px;
   margin-top: 100px;
   background-color: black;
   height: 164px;
}
.footer__item {
   display: inline;
   text-align: center;
}

.footer__list {
}

.footer__media {
   color: white;
   padding-top: 10px;
   text-align: center;
}

.footer__theme {
   text-align: center;
   padding-top: 20px;
   color: rgba(255, 255, 255, 0.5);
}
*/
