* {
   box-sizing: border-box;
}

html,
body {
   height: 100%;
}

body {
   font-family: "Raleway", "Open Sans";
   font-weight: 400;
   font-size: 18px;
   color: #000;
   line-height: 21px;
   background-color: white;
}

h1,
.title1 {
   color: white;
   font-size: 48px;
   font-weight: 500;
   line-height: 56px;
}

h2,
.title2 {
   font-size: 36px;
   font-weight: 400;
   line-height: 42px;
}

h3,
.title3 {
   font-size: 30px;
   font-weight: 700;
   line-height: 41px;
   font-family: "Open Sans";
}
h4,
.title4 {
   font-family: "Open Sans";
   font-size: 24px;
   font-weight: 700;
   line-height: 33px;
}
h5,
.title5 {
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
}

h6,
.title6 {
   font-family: "Open Sans";
   font-size: 13px;
   font-weight: 700;
   line-height: 18px;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.header {
   background-color: black;
   font-family: "Open Sans";
   font-weight: 600;
   font-size: 14px;
}

.button {
   font-family: "Open Sans";
   font-weight: 600;
   background-color: #ec7979;
   width: 270px;
   font-size: 18px;
   line-height: 25px;
   padding: 18px 0;
   color: white;
   cursor: pointer;
   display: inline-block;
   text-decoration: none;
   text-align: center;
   min-height: 60px;
}
.button_light {
   background-color: transparent;
   border: 2px solid white;
}

.button:hover {
   background-color: #ab4949;
}
.button:active {
   box-shadow: 0px 0px 10px #ab4949;
   background-color: #ec7979;
}
/*Header*/
.header {
}
.menu {
   display: flex;
   align-items: center;
}
.menu__link {
   text-decoration: none;
   font-size: 14px;
   font-weight: 600;
   line-height: 19px;
   color: white;
   text-align: center;
   display: inline-block;
   min-width: 135px;
}

.menu__link:hover {
   background-color: #ec7979;
}
.menu__link:active {
   background-color: #ab4949;
}

.nav {
   display: flex;
   justify-content: space-between;
}

/*Main-banner*/

.main-banner {
   background-image: url(../images/main_baner.jpg);
   text-align: left;
   padding: 231px 0 185px;
   color: white;
}
.main-banner__logo {
   margin-bottom: 73px;
}

.main-banner_title {
   margin-bottom: 55px;
   max-width: 670px;
}
.main-banner_title:last-child {
   margin-bottom: 0px;
}

.main-banner__hr {
   display: inline-block;
   text-align: left;
   margin-bottom: 42px;
}
.main-banner__text {
   margin-bottom: 42px;
}
.main-banner__text:last-child {
   margin-bottom: 0px;
}

/*Social media*/
.social {
   background-color: #f8efef;
   padding: 0 0 18px;
   margin-bottom: 109px;
}
.media__title {
   color: #333333;
   margin-bottom: 18px;
   max-width: 470px;
   padding: 14px 0;
}

.media__text {
   max-width: 470px;
}
.media__info {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.media-brands__list {
   display: flex;
   justify-content: space-between;
   width: 637px;
}

.media {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/*Description*/
.description__link {
   font-family: "Open Sans";
   font-size: 14px;
   line-height: 19px;
   text-decoration: none;
   display: block;
}

.description__info {
   border: 1px solid;
   border-color: #c6cbcd;
   display: flex;
   justify-content: space-between;
}

.description__text {
   padding-left: 100px;
   max-width: 570px;
}
.description__title {
   padding: 42px 0;
   margin-bottom: 27px;
}
.description__subtitle {
   margin-bottom: 27px;
   max-width: 570px;
}
.description__list {
   display: flex;
}
.description__item {
   border: 1px solid black;
   width: 150px;
   text-align: center;
}

/*Advantage*/
.advantage {
   margin-top: 50px;
}

.advantage-head {
   text-align: center;
}

.advantage__title {
   padding: 54px 0;
   text-transform: uppercase;
}

.hr {
   width: 170px;
   border-bottom: 1px solid #ec7979;
}
.hr_light {
   border-color: white;
}

.advantage__hr {
   margin-bottom: 40px;
}
.title5_light {
   color: #86878b;
}
.advantage__subtitle {
   margin-bottom: 110px;
}

.advantage__list {
   display: flex;
   justify-content: space-between;
   max-width: 105px;
}

.benefits-card__img {
   width: 92px;
   height: 92px;
   border-radius: 50%;
   border: 1px solid #ec7979;
   margin-bottom: 39px;
}

.benefits-card {
   text-align: center;
}
.benefits-card__title {
   padding: 34px 0;
   margin-bottom: 8px;
}

.benefits-card__text {
   display: inline-block;
   width: 370px;
   margin-bottom: 58px;
}

/*Price*/
.price {
   background: #f5f5f5;
   padding: 50px 0;
}
.price__title {
   text-align: center;
   padding: 54px 0;
}
.price__item {
   display: inline-block;
   width: 370px;
}
.price__subtitle {
   text-align: center;
}
.price__rate {
   text-align: center;
}
.title5_grey {
   color: rgba(255, 255, 255, 0.5);
}

.price__hr {
   margin-bottom: 40px;
}

.price__subtitle {
   margin-bottom: 79px;
}
.price__rate__title {
   background-color: #333333;
   border: 1px solid #f5f5f5;
   padding: 14px 0;
   color: white;
}
.price__rate__cost {
   background-color: #333333;
   border: 1px solid #f5f5f5;
   padding: 29px 0;
   color: white;
}
.price__rate__text {
   background-color: #333333;
   border: 1px solid #f5f5f5;
   padding: 15px 0;
}
.price__list__item {
   background-color: #fff;
   border: 1px solid #f5f5f5;
   padding: 15px 0;
}
.for-selector + div {
   margin-top: -20px;
}

/*Opinion*/
.opinion {
   padding: 50px 0 64px;
}
.opinion-head {
   text-align: center;
}
.opinion-head__title {
   text-transform: uppercase;
   padding: 54px 0;
}
.opinion__list {
   display: flex;
   justify-content: space-between;
}
.opinion-head__hr {
   margin-bottom: 40px;
}
.opinion-head__subtitle {
   margin-bottom: 83px;
}
.mind-card {
}
.blockquote-figure {
   display: flex;
   flex-direction: column;
}
.mind-card__blockquote {
   border-radius: 10px;
   width: 370px;
   background-color: #e2e2e2;
   padding: 38px 15px;
}
.treangular {
   width: 0;
   height: 0;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
   border-top: 20px solid #e2e2e2;
   align-self: center;
   padding-bottom: 46px;
}
.profile {
   display: flex;
}
.personal-data {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-left: 30px;
}

/*Axure design*/
.axure-design {
   background-image: url(/images/axure-design.jpg);
   padding: 50px 0;
   text-align: center;
   color: white;
}
.axure-design__title {
   padding: 54px 0;
}
.axure-design__hr {
   margin-bottom: 40px;
}
.axure-design__text {
   margin-bottom: 73px;
}

/*Contact*/
.contact {
   padding: 50px 0;
}
.contact__title {
   padding: 54px 0;
   text-align: center;
}
.contact__hr {
   margin-bottom: 40px;
}
.contact__text {
   text-align: center;
   margin-bottom: 89px;
}
.contact__date {
   margin-bottom: 50px;
}

.contact__place {
   text-align: center;
}

/*Footer*/
.footer {
   padding: 40px 0 27px;
   background-color: black;
   text-align: center;
   display: flex;
   justify-content: center;
}
.media-footer {
   margin-bottom: 35px;
}
