* {
   box-sizing: border-box;
}

html,
body {
   height: 100%;
}

body {
   font-family: "Raleway", "Open Sans";
   font-weight: 400;
   font-size: 18px;
   color: #000;
   line-height: 21px;
   background-color: white;
}

h1,
.title1 {
   color: white;
   font-size: 48px;
   font-weight: 500;
   line-height: 56px;
}

h2,
.title2 {
   font-size: 36px;
   font-weight: 400;
   line-height: 42px;
}

h3,
.title3 {
   font-size: 30px;
   font-weight: 700;
   line-height: 41px;
   font-family: "Open Sans";
}
h4,
.title4 {
   font-family: "Open Sans";
   font-size: 24px;
   font-weight: 700;
   line-height: 33px;
}
h5,
.title5 {
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
}

h6,
.title6 {
   font-family: "Open Sans";
   font-size: 13px;
   font-weight: 700;
   line-height: 18px;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.header {
   background-color: black;
}

nav {
   font-family: "Open Sans";
   font-weight: 600;
   font-size: 14px;
}

.button {
   font-family: "Open Sans";
   font-weight: 600;
   background-color: #ec7979;
   width: 270px;
   font-size: 18px;
   line-height: 25px;
   padding: 18px 0;
   color: white;
   cursor: pointer;
   display: inline-block;
   text-decoration: none;
   text-align: center;
   min-height: 60px;
}
.button:hover {
   background-color: #ab4949;
}
.button:active {
   box-shadow: 0px 0px 10px #ab4949;
   background-color: #ec7979;
}

/*Main-banner*/

.main-banner {
   background-image: url(../images/main_baner.jpg);
   text-align: left;
   padding: 231px 0 185px;
   color: white;
}
.main-banner__logo {
   margin-bottom: 73px;
}

.main-banner_title {
   margin-bottom: 97px;
}
.main-banner_title:last-child {
   margin-bottom: 0px;
}
.main-banner__text {
   margin-bottom: 42px;
}
.main-banner__text:last-child {
   margin-bottom: 0px;
}

.social {
   background-color: #f8efef;
   padding: 0 0 18px;
}
.media__title {
   color: #333333;
   margin-bottom: 18px;
   max-width: 470px;
}

.media__text {
   max-width: 470px;
}
.description__link {
   font-family: "Open Sans";
   font-size: 14px;
   line-height: 19px;
   text-decoration: none;
   color: #333333;
}

.description__info {
   border: 1px solid;
   border-color: #c6cbcd;
}

.description__text {
   padding-left: 100px;
}
.description__title {
   padding: 42px 0;
   margin-bottom: 27px;
}
.description__subtitle {
   margin-bottom: 27px;
   max-width: 570px;
}
.description__link {
   margin-bottom: 54px;
}

.advantage {
   text-align: center;
}

.advantage__title {
   padding: 54px 0;
   text-transform: uppercase;
}

.hr {
   width: 170px;
   border: 1px solid #ec7979;
}

.advantage__hr {
   margin-bottom: 40px;
}
.title5_light {
   color: #86878b;
}
.advantage__subtitle {
   margin-bottom: 110px;
}

.advantage__img {
   width: 92px;
   height: 92px;
   border-radius: 50%;
   border: 1px solid #ec7979;
   margin-bottom: 39px;
}

.advantage__item {
   text-align: center;
}
.advantage__item__title {
   padding: 34px 0;
   margin-bottom: 8px;
}

.advantage__text {
   display: inline-block;
   width: 370px;
   margin-bottom: 58px;
}

.price {
   background: #f5f5f5;
   padding: 50px 0;
}
.price__title {
   text-align: center;
   padding: 54px 0;
}
.price__item {
   display: inline-block;
   width: 370px;
}
.price__subtitle {
   text-align: center;
}
.price__rate {
   text-align: center;
}
.title5_grey {
   color: rgba(255, 255, 255, 0.5);
}

.price__hr {
   margin-bottom: 40px;
}

.price__subtitle {
   margin-bottom: 79px;
}
.price__rate__title {
   background-color: #333333;
   border: 1px solid #f5f5f5;
   padding: 14px 0;
   color: white;
}
.price__rate__cost {
   background-color: #333333;
   border: 1px solid #f5f5f5;
   padding: 29px 0;
   color: white;
}
.price__rate__text {
   background-color: #333333;
   border: 1px solid #f5f5f5;
   padding: 15px 0;
}
.price__list__item {
   background-color: #fff;
   border: 1px solid #f5f5f5;
   padding: 15px 0;
}
.for-selector + div {
   margin-top: -20px;
}
.opinion {
   padding: 50px 0 64px;
}
.opinion__title {
   text-transform: uppercase;
   padding: 54px 0;
   text-align: center;
}
.opinion__hr {
   margin-bottom: 40px;
}
.opinion__subtitle {
   text-align: center;
   margin-bottom: 83px;
}
.opinion__blockquote {
   border-radius: 10px;
   width: 400px;
   background-color: #e2e2e2;
   padding: 38px 15px;
   margin-bottom: 66px;
}
